body {
  background-color: #282828;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
}

h1 {
  font-size: 42px;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  text-align: justify;
}

img {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}