<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
        <title>My Website - About</title>
    </head>

    <body>
        <h1>Antonio Neil</h1>
        <p>Hard working software engineering student with dreams of working overseas someday. Loves basketball,
            football, anime and gaming. Currently my goal is to do everything possible to prepare myself to be as job ready 
        as possible before I even graduate. I already have some valuable expereince under my belt from internships,
        I will now be focusing on my final year project and self study of algorithms and data structures.</p>

        <img src="{{ url_for('static', filename='subarusomke.jpg') }}" alt="Subaru smoking with Emilia">
    </body>
</html>
